.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}
.form-container{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: .1rem #c0c0cc solid;
    border-radius: .5rem;
}
.form-container li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: .4rem;
}
input{
    padding: .7rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .3rem;
}
.full-width{
    background-color: #f0f0f0;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    padding: 1rem;
    width: 90%;
    color: black;
}
.button.primary{
    font-size: 1.2rem;
    padding: .5rem;
    background-color: #eebd4a ;
}